$tim: #87509c //Tím 
$ngoc: #17c2a4 // Cyan
$vang: #ffdd99 // Vang 
$do: #d74680 // Đỏ 
$xanh: #3c5499 // Xanh
$cam: #FF9633 // Cam

@font-face
	font-family: TitilliumWeb
	src: url('../Font/Titillium_Web/TitilliumWeb-Regular.ttf') 
@font-face
	font-family: TitilliumWeb-Bold
	src: url('../Font/Titillium_Web/TitilliumWeb-Bold.ttf') 
header, main, footer 
	font-family: TitilliumWeb 

// .home_slider
//     background: $tim
//     color: #fff
//     min-height: 368px
//     display: flex
//     letter-spacing: 1px
//     text-align: center      
//     align-items: center                 
//     .btn-more
//         background: $cam
//         color: #FFF
//         min-width: 230px
//         min-height: 47px

.caption
    h2
        letter-spacing: 3px
        font-weight: 900
        font-family: TitilliumWeb-Bold
        font-size: 2.3rem
        margin-top: 70px
    p
        margin-top: 40px
        


.home_service
    background: $ngoc
    color: #fff
    min-height: 368px
    display: flex
    letter-spacing: 1px
    justify-content: center
    text-align: center      
    align-items: center
    flex-wrap: 
    .service_icon
        img
            padding: 41px
        h3
            text-transform: uppercase
            font-weight: bold
            font-size: 1.3rem
        p
            justify-content: center
            text-align: center      
            align-items: center
            padding: 1px 40px 70px 40px
            margin-bottom: 88px
            